/* === COLORS ===
#FED136 - Golden
#F7F7F7 - Light Grey
#FFFFFF - White
#868686 - Light Dark Grey
#3D3D3D - Dark Grey

=== FONTS ===
font-family: 'Leckerli One', cursive;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Bree Serif', serif;
*/ 

/* ====== Global ====== */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #FFF;
    color: #FFF;
    font-family: 'Palanquin Dark', sans-serif;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    padding: 100px 0;
}

.section-title {
    color: #3D3D3D;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.section-subtitle {
    color: #868686;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;    
    margin: 0;
    padding: 0 0 50px 0;
}

.card-subtitle {
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: #3D3D3D;
}

.card-desc {
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    color: #868686;
    margin: 0;
    padding: 5px 0 0 0;
}

ul {
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

li {
    margin: 0;
    display: inline-block;
}

/* ====== Splash ====== */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(/images/splash.jpg);
    background-position: center center;
    background-size: cover;
}

.slpash img {
    object-fit: cover;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-title {
    margin-top: -50px;
    font-size: 90px;
}

.splash-subtitle {
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
}

.splash button {
    margin-top: -40px;
    background: #FED136;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 25px 55px;
    font-weight: 700;
}

.splash button:hover {
    box-shadow: 0 0 20px #FED136;
    color: #3D3D3D;
    transition: 0.6s;
}

/* ====== Navigation ====== */

.navigation {
    padding-top: 45px;
}

.navigation ul {
    width: 80%;
}

.navigation li {
    padding-right: 20px;
    color: #FFFFFF;
    font-size: 16px;
}

.logo {
    font-family: 'Leckerli One', cursive;
    color: #FED136;
    font-size: 30px;
}

.logo:hover {
    text-shadow: 0 0 20px #FED136;
    transition: 0.6s;
}

.nav-li {
    color: #FFFFFF;
}

.nav-li:hover {
    color: #FED136;
    text-shadow: 0 0 20px #FED136;
    transition: 0.6s;
}

/* ====== Section - SERVICES ====== */

.services {
    padding-top: 100px;
    background-color: #FFFFFF;
}

.services i {
    font-size: 50px;
    color: #FED136;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 3px solid #FED136;
    border-radius: 50%;
}

.services i:hover {
    color: #FFFFFF;
    box-shadow: 0 0 20px #FED136;
    background-color: #FED136;
    transition: 0.6s;
}

/* ====== Section - PORTFOLIO ====== */

.portfolio {
    background-color: #F7F7F7;
}

.box {
    margin-bottom: 150px;
}

.box img {
    width: 300px;
    height: 300px;
    position: relative;
}

.box-text {
    background-color: #FFFFFF;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 300px; 
    left: 40px;
    padding: 10px 0 0 0;
}

.box-text:hover {
    box-shadow: 0 0 20px #FED136;
    background-color: #FED136;
    transition: 0.6s;
}

/* ====== FOOTER ====== */

footer {
    color: #3D3D3D;
    margin: 40px 5px;
}

footer ul {
    margin-left: -40px;
}

footer i {
    margin: auto 5px;
    padding: 12.5px;
    color: #FFFFFF;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #3D3D3D;
    border-radius: 50%;
}

footer i:hover {
    box-shadow: 0 0 20px #FED136;
    background-color: #FED136;
    transition: 0.6s;
}

/* ====== MEDIA ====== */

@media (max-width: 575px) {
    .box-text {
        left: 92.5px;
    }  
}

@media (min-width: 576px) and (max-width: 767px) {
    .box-text {
        left: 120px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box-text {
        left: 210px;
    }
}

@media (max-width: 1199px) {

    ul {
        margin: 20px 20px 0 0 ;
    }

    li {
        display: block;
        margin: 10px auto;
    }

    .splash-title {
        margin-top: -50px;
        font-size: 45px;
        line-height: 1em;
        margin: 10px 0;
    }
    
    .splash-subtitle {
        margin-top: 200px;
        font-size: 25px;
    }

    .section-title {
        font-size: 35px;
    }
    
    .section-subtitle {
        font-size: 20px;
    }

    .splash button {
        margin: 40px auto -80px auto;
    }

    section {
        padding: 25px 0;
    }

    .services p {
        margin-bottom: 50px;
    }

    footer ul {
        margin-right: 0;
    }

    footer li {
        display: inline-block;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .box-text {
        left: 330px;
    }
}